@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: darkgrey;
}
canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

p {
  padding: 1rem;
}
